# --- BACKEND (Python) ---
.env
backend/.env
.venv/
venv/
env/
backend/.venv/
backend/venv/
__pycache__/
*.py[cod]

# --- FRONTEND (React) ---
node_modules/
frontend/node_modules/
dist/
build/
frontend/dist/
frontend/build/
.DS_Store

# --- IDE ---
.idea/
.vscode/